@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";
@import "mixins/_button";

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--color-white;
  border: $--border-base;
  border-color: $--border-color-base;
  color: $--color-text-regular;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: $--font-weight-primary;
  @include utils-user-select(none);
  @include button-size(12px, 20px, $--font-size-base, $--border-radius-base);

  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }

  &:active {
    color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
    border-color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="ml-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(plain) {
    &:hover,
    &:focus {
      background: $--color-white;
      border-color: $--color-primary;
      color: $--color-primary;
    }

    &:active {
      background: $--color-white;
      border-color: mix($--color-black, $--color-primary, 10%);
      color: mix($--color-black, $--color-primary, 10%);
      outline: none;
    }
  }

  @include when(active) {
    color: mix($--color-black, $--color-primary, 10%);
    border-color: mix($--color-black, $--color-primary, 10%);
  }

  @include when(round) {
    border-radius: 20px;
  }

  @include when(circle) {
    border-radius: 50%;
    padding: 12px;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--color-text-placeholder;
      cursor: not-allowed;
      background-image: none;
      background-color: $--color-white;
      border-color: $--border-color-lighter;
    }

    &.ml-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: $--color-white;
        border-color: $--border-color-lighter;
        color: $--color-text-placeholder;
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  & + & {
    margin-left: 10px;
  }

  @include m(primary) {
    @include button-variant($--color-white, $--color-primary, $--color-primary);
  }
  @include m(success) {
    @include button-variant($--color-white, $--color-success, $--color-success);
  }
  @include m(warning) {
    @include button-variant($--color-white, $--color-warning, $--color-warning);
  }
  @include m(danger) {
    @include button-variant($--color-white, $--color-danger, $--color-danger);
  }
  @include m(info) {
    @include button-variant($--color-white, $--color-info, $--color-info);
  }
  @include m(medium) {
    @include button-size(10px, 20px, $--font-size-base, $--border-radius-base);
    @include when(circle) {
      padding: 10px;
    }
  }
  @include m(small) {
    @include button-size(9px, 15px, 12px, #{$--border-radius-base - 1});
    @include when(circle) {
      padding: 9px;
    }
  }
  @include m(mini) {
    @include button-size(7px, 15px, 12px, #{$--border-radius-base - 1});
    @include when(circle) {
      padding: 7px;
    }
  }

  @include m(text) {
    border-color: transparent;
    color: $--color-primary;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: mix($--color-white, $--color-primary, 20%) !important;
      border-color: transparent !important;
      background-color: transparent !important;
    }
    &:active {
      color: mix($--color-black, $--color-primary, 10%) !important;
      border-color: transparent !important;
      background-color: transparent !important;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      color: $--color-text-placeholder !important;
      border-color: transparent !important;
    }
  }
}
