@import "common/var";
@import "mixins/mixins";
@import "mixins/_button";
@import "mixins/utils";

@include b(checkbox) {
  color: $--color-text-regular;
  font-weight: $--font-weight-primary;
  font-size: $--font-size-base;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;

  @include when(bordered) {
    padding: 9px 20px 9px 10px;
    border-radius: $--border-radius-base;
    border: $--border-base;
    box-sizing: border-box;
    line-height: normal;
    height: 40px;

    &.is-checked {
      border-color: $--color-primary;
    }

    &.is-disabled {
      border-color: $--border-color-lighter;
      cursor: not-allowed;
    }

    & + .ml-checkbox.is-bordered {
      margin-left: 10px;
    }

    &.ml-checkbox--medium {
      padding: 7px 20px 7px 10px;
      border-radius: $--border-radius-base;
      height: 36px;

      .ml-checkbox__label {
        line-height: 17px;
        font-size: $--font-size-base;
      }

      .ml-checkbox__inner {
        height: 14px;
        width: 14px;
      }
    }

    &.ml-checkbox--small {
      padding: 5px 15px 5px 10px;
      border-radius: #{$--border-radius-base - 1};
      height: 32px;

      .ml-checkbox__label {
        line-height: 15px;
        font-size: 12px;
      }

      .ml-checkbox__inner {
        height: 12px;
        width: 12px;

        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }

    &.ml-checkbox--mini {
      padding: 3px 15px 3px 10px;
      border-radius: #{$--border-radius-base - 1};
      height: 28px;

      .ml-checkbox__label {
        line-height: 12px;
        font-size: 12px;
      }

      .ml-checkbox__inner {
        height: 12px;
        width: 12px;
        &::after {
          height: 6px;
          width: 2px;
        }
      }
    }
  }

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;

    @include when(disabled) {
      .ml-checkbox__inner {
        background-color: #edf2fc;
        border-color: $--border-color-base;
        cursor: not-allowed;

        &::after {
          cursor: not-allowed;
          border-color: $--color-text-placeholder;
        }

        & + .ml-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .ml-checkbox__inner {
          background-color: $--border-color-extra-light;
          border-color: $--border-color-base;

          &::after {
            border-color: $--color-text-placeholder;
          }
        }
      }

      &.is-indeterminate {
        .ml-checkbox__inner {
          background-color: $--border-color-extra-light;
          border-color: $--border-color-base;

          &::before {
            background-color: $--color-text-placeholder;
            border-color: $--color-text-placeholder;
          }
        }
      }

      & + span.ml-checkbox__label {
        color: $--disabled-color-base;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .ml-checkbox__inner {
        background-color: $--color-primary;
        border-color: $--color-primary;

        &::after {
          transform: rotate(45deg) scaleY(1);
        }
      }

      & + .ml-checkbox__label {
        color: $--color-primary;
      }
    }
    @include when(focus) {
      /*focus时 视觉上区分*/
      .ml-checkbox__inner {
        border-color: $--color-primary;
      }
    }
    @include when(indeterminate) {
      .ml-checkbox__inner {
        background-color: $--color-primary;
        border-color: $--color-primary;

        &::before {
          content: "";
          position: absolute;
          display: block;
          background-color: $--fill-base;
          height: 2px;
          transform: scale(0.5);
          left: 0;
          right: 0;
          top: 5px;
        }

        &::after {
          display: none;
        }
      }
    }
  }
  @include e(inner) {
    display: inline-block;
    position: relative;
    border: $--border-base;
    border-radius: $--border-radius-small;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: $--color-white;
    z-index: 1;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);

    &:hover {
      border-color: $--color-primary;
    }

    &::after {
      box-sizing: content-box;
      content: "";
      border: 1px solid $--fill-base;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform 0.15s ease-in 0.05s;
      transform-origin: center;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  @include e(label) {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
