@font-face {
  font-family: "moli-iconfont";
  src: url("./fonts/iconfont.woff") format("woff"),
    url("./fonts/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-display: "auto";
  font-style: normal;
}

[class^="ml-icon-"],
[class*=" ml-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "moli-iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ml-icon-close-line:before {
  content: "\e61d";
}

.ml-icon-menu:before {
  content: "\e66d";
}

.ml-icon-system:before {
  content: "\e625";
}

.ml-icon-tissue:before {
  content: "\e60f";
}

.ml-icon-menu-toggle:before {
  content: "\e843";
}

.ml-icon-menu-expand:before {
  content: "\e844";
}

.ml-icon-img-error:before {
  content: "\e7c2";
}

.ml-icon-address:before {
  content: "\e61e";
}

.ml-icon-send:before {
  content: "\e692";
}

.ml-icon-login-out:before {
  content: "\e613";
}

.ml-icon-notice:before {
  content: "\e845";
}

.ml-icon-date:before {
  content: "\e662";
}

.ml-icon-time:before {
  content: "\e63d";
}

.ml-icon-star-off:before {
  content: "\e7df";
}

.ml-icon-star-on:before {
  content: "\e86a";
}

.ml-icon-image:before {
  content: "\e7de";
}

.ml-icon-refresh-left:before {
  content: "\e787";
}

.ml-icon-refresh-right:before {
  content: "\e788";
}

.ml-icon-zoom-out:before {
  content: "\e897";
}

.ml-icon-zoom-in:before {
  content: "\e898";
}

.ml-icon-fullscreen:before {
  content: "\e7ec";
}

.ml-icon-fullscreen-exit:before {
  content: "\e7ef";
}

.ml-icon-c-scale-to-original:before {
  content: "\e638";
}

.ml-icon-d-arrow-left:before {
  content: "\e7ed";
}

.ml-icon-d-arrow-right:before {
  content: "\e7ee";
}

.ml-icon-info:before {
  content: "\e719";
}

.ml-icon-notView:before {
  content: "\e6fe";
}

.ml-icon-browse:before {
  content: "\e745";
}

.ml-icon-filter-fill:before {
  content: "\e77f";
}

.ml-icon-message:before {
  content: "\ebad";
}

.ml-icon-module:before {
  content: "\ebb1";
}

.ml-icon-success:before {
  content: "\e8c3";
}

.ml-icon-close-fill:before {
  content: "\e8c6";
}

.ml-icon-lightning:before {
  content: "\e8c7";
}

.ml-icon-warning:before {
  content: "\e8c8";
}

.ml-icon-plus-fill:before {
  content: "\e8c9";
}

.ml-icon-edit:before {
  content: "\e8ca";
}

.ml-icon-all-fill:before {
  content: "\e718";
}

.ml-icon-delete:before {
  content: "\e744";
}

.ml-icon-help:before {
  content: "\e782";
}

.ml-icon-language-fill:before {
  content: "\e783";
}

.ml-icon-plus:before {
  content: "\e7b0";
}

.ml-icon-minus:before {
  content: "\e7b1";
}

.ml-icon-minus-fill:before {
  content: "\e600";
}

.ml-icon-down-fill:before {
  content: "\e601";
}

.ml-icon-top-fill:before {
  content: "\e602";
}

.ml-icon-right-fill:before {
  content: "\e603";
}

.ml-icon-left-fill:before {
  content: "\e604";
}

.ml-icon-pentagram-fill:before {
  content: "\e605";
}

.ml-icon-pentagram:before {
  content: "\e606";
}

.ml-icon-arrow-left:before {
  content: "\e607";
}

.ml-icon-arrow-right:before {
  content: "\e608";
}

.ml-icon-arrow-top:before {
  content: "\e609";
}

.ml-icon-arrow-down:before {
  content: "\e60a";
}

.ml-icon-triangle-top:before {
  content: "\e60b";
}

.ml-icon-triangle-bottom:before {
  content: "\e60c";
}

.ml-icon-triangle-left:before {
  content: "\e60d";
}

.ml-icon-triangle-right:before {
  content: "\e60e";
}

.ml-icon-backTop:before {
  content: "\e610";
}

.ml-icon-more:before {
  content: "\e611";
}

.ml-icon-refresh:before {
  content: "\e612";
}

.ml-icon-close:before {
  content: "\e615";
}

.ml-icon-right:before {
  content: "\e616";
}

.ml-icon-share:before {
  content: "\e617";
}

.ml-icon-favorite-fill:before {
  content: "\e618";
}

.ml-icon-favorite:before {
  content: "\e619";
}

.ml-icon-loading:before {
  content: "\e6da";
}

.ml-icon-image-fill:before {
  content: "\e860";
}

.ml-icon-compress:before {
  content: "\e914";
}

.ml-icon-expend:before {
  content: "\e915";
}

.ml-icon-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
