@charset "UTF-8";
@import "button";
@import "button-group";
@import "radio";
@import "common/icon.scss";

[class*="ml-icon-"] {
  font-family: "moli-iconfont";
  font-style: normal;
}

.ml-icon-loading {
  display: inline-block;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300deg);
  }
}
