@charset "UTF-8";
@import "alert";
@import "button";
@import "button-group";
@import "radio";
@import "radio-group";
@import "radio-button";
@import "checkbox";
@import "checkbox-group";
@import "checkbox-button";
@import "switch";
@import "form";
@import "input";
@import "input-number";
@import "tag";
@import "tooltip";
@import "select";
@import "message";
@import "message-box";
@import "notify";
@import "loading";
@import "col";
@import "row";
@import "table";
@import "table-column";
@import "slider";
@import "badge";
@import "progress";
@import "pagination";
@import "breadcrumb";
@import "breadcrumb-item";
@import "step";
@import "steps";
@import "backtop";
@import "timeline";
@import "timeline-item";
@import "collapse";
@import "menu";
@import "dropdown";
@import "common/icon.scss";
@import "common/transition.scss";

[class*="ml-icon-"] {
  font-family: "moli-iconfont";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ml-icon-loading {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300deg);
  }
}
