@import "mixins/mixins";
@import "mixins/_button";
@import "common/var";

@include b(radio-button) {
  position: relative;
  display: inline-block;
  outline: none;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: $--color-white;
    border: $--border-base;
    font-weight: $--font-weight-primary;
    border-left: 0;
    color: $--color-text-regular;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: $--all-transition;

    @include button-size(12px, 20px, $--font-size-base, 0);

    &:hover {
      color: $--color-primary;
    }

    & [class*="ml-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &:first-child {
    .ml-radio-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  @include e(orig-radio) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;

    &:checked {
      & + .ml-radio-button__inner {
        color: $--color-white;
        background-color: $--color-primary;
        border-color: $--color-primary;
        box-shadow: -1px 0 0 0 $--color-primary;
      }
    }

    &:disabled {
      & + .ml-radio-button__inner {
        color: $--color-text-placeholder;
        cursor: not-allowed;
        background-image: none;
        background-color: $--color-white;
        border-color: $--border-color-lighter;
        box-shadow: none;
      }
      &:checked + .ml-radio-button__inner {
        background-color: $--border-color-extra-light;
      }
    }
  }

  &:last-child {
    .ml-radio-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  &:first-child:last-child {
    .ml-radio-button__inner {
      border-radius: $--border-radius-base;
    }
  }

  @include m(medium) {
    & .ml-radio-button__inner {
      @include button-size(10px, 20px, $--font-size-base, 0);
    }
  }
  @include m(small) {
    & .ml-radio-button__inner {
      @include button-size(9px, 15px, 12px, 0);
    }
  }
  @include m(mini) {
    & .ml-radio-button__inner {
      @include button-size(7px, 15px, 12px, 0);
    }
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) {
    /*获得焦点时 样式提醒*/
    box-shadow: 0 0 2px 2px $--color-primary;
  }
}
